<!DOCTYPE html>
<html lang="en">



<head>
    <title>About</title>

    <style>
        body {
          background-color: white;
          color: black;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      </style>
</head>

<body>
    <h1>About Page</h1>
    <div>
     <p> For some, a portion of time spent at a campfire includes the opportunity to marvel at various shapes and forms that manifest, often resembling familiar objects and characters. Our goal is to provide a platform for campfire enthusiasts to gain addtional joy and appreciation of the manifestations of their campfires.   Upload your campfire pictures and enjoy the results!
    <p><u><strong>Disclaimer:</strong> Please be safe at your campfire and take your campfire picture from a safe distance. This website is not intended to promote fire-starting or picture gathering of fires from any source other than a safely maintained campfire or bonfire. </u>  This technology finds features that, when in a certain pattern, resembles the features of a face. Any likeness to a being (alive or deceased) is due to coincidence and any "faces" identified by this technology are not meant to imply that a live being is in the campfire. For entertainment purposes only. </p>
    <p><u><strong></strong> Accolades:</u> in 2001, Paul Viola and Michael Jones laid important groundowrk for the current computer vision technlology landscape. Over time, enahncements have been made to the work of feature detection. In addition to Viola & Jones, the creator of this project would like to recongize and thank the both David Bradley and Rainer Lienhart for their contirbutions and allowing open-source access to their XML files for both profile and forntal-face feature detection, respectively. </p> 
    
    <p>Viola, P., & Jones, M. (2001, December). Rapid object detection using a boosted cascade of simple features. In Proceedings of the 2001 IEEE computer society conference on computer vision and pattern recognition. CVPR 2001 (Vol. 1, pp. I-I). Ieee.</p> 
    </div>
      <div>
      
    </div>
    
    <!-- Add a "Go Back" link to return to the main page -->
    <a href="/" style="font-size: 28px"; style = "color:blue";><strong>Go Back</strong></a>
</body>

</html>

