<!DOCTYPE html>
<html lang="en">



<head>
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <style>

        body {
          background-color: gray;
          color: white;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .header {
            background-color: #3a6f9b;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
      </style>
</head>

<body>
    <h1>About Page</h1>
    
     <p style="font-size: 24px">This is a website dedicated to the art of cloud-watching. Our goal is to provide a platform for cloud enthusiasts to gain addtional joy and appreciation of the shapes that are formed in the sky.   Upload your cloud pictures and let's explore the wonders of the sky together! 

      Disclaimer: The technology used for this does not detect actual faces of any species. This technology finds features that, when in a certain pattern, resembles the features of a face. Any likeness to a being (alive or deceased) is due to coincidence and any "faces" identified by this technology are not meant to imply that a live being is in the sky. For entertainment purposes only.  </p>
    
    
    <!-- Add a "Go Back" link to return to the main page -->
    <a href="/" style="font-size: 28px;">Go Back</a>
</body>

</html>

