<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Error - In2Clouds Face Detection App Error</title>
 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            
            <h3 class="text-muted">An error occurred</h3>
        </div>
 
        
         <footer class="footer">
            <p>&copy; This is for entertainment purposes. Please enjoy and do not take the results too seriously!!!! 
                © 2023 In2Clouds all rights reserved.  <b style= "color: cornflowerblue"> Transparency Analytics</b></p>
        </footer>
 
    </div>
</body>
 
</html>
