<<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>

    .gallery-row {
        flex-direction: column;
        align-items: center;
        height: 100vh 
        gap: 5px; /* Adjust the gap between images */
    }


    .gallery-image {
        max-width: 100%;
        height: auto;
    }
    
</style>
<body>
    <h1>Gallery: </h1>
    <p>The left image shows the face-shapes detected by the algorithms and surrounds the face-shapes with a rectangle.  The right side image is simply the application of a color mask on top of those detected face-shapes.   The mask gives more definition to the nuances of wach face-shape. but many face-shapes are hard to discern still. Zooming in can help a bit, but imagination helps the most!   Sometimes we have words for what we see, sometimes we don't. Sometimes the face-shape is clear, sometimes it isn't. When there are a large amount of faces, the image seems very chaotic. But it still may be interesting!  Please do not take these face-shapes seriously. They really are because of the effects of wind and lighting, etc..  Enjoy!</p>
    <a href="/" style="font-size: 28px; color: blue;"><strong>Go Back</strong></a>
  

    <!-- Navigation Links -->
    <div>
        <a href="#section1">Cloud Gallery</a>
        <a href="#section2">Campfire Gallery</a>
        <a href="#section3">Nature Gallery</a>
        <a href="#all-images">All Images</a>
    </div>

    <!-- Section 1 -->
    <h2 id="section1">Cloud Gallery</h2>
    <a href="/" style="font-size: 28px; color: blue;"><strong>Go Back</strong></a>
    <div class="gallery">
        <div class="gallery-row">
        <img src="{{ url_for('static', filename='gallery/' +'(COPY)f36e6058-6cb8-483e-beb3-555eaa6fcffa.jpg') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'00df3f0e-3035-49ff-93c4-9503885e4cda.JPG') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'2662f39e-9ab0-426b-9200-894f8a242057.JPG') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'20df28d6-6933-44a5-9b56-1c2f20473a49.JPG') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'79df8afb-713e-47da-958b-ac7fc61e5afe.jpg') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'cc825e61-0d74-463d-aa62-84ca6ddb0894.JPG') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'f5b5e9b6-3c41-45ef-8143-7d1e3013d468.jpg') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'88bb7b0a-893c-453e-bc05-98970c30a403.jpg') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'658d8e79-8456-410d-82da-bdbd3cea5399.jpg') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'844a27e3-4213-488f-9bec-d2e26434245d.JPG') }}" alt="Gallery Image" width="700">
        </div>
    </div>

    <!-- Section 2 -->
    <h2 id="section2">Campfire Gallery</h2>
    <a href="/" style="font-size: 28px; color: blue;"><strong>Go Back</strong></a>
    <div class="gallery"> 
        <div class="gallery-row">
        <img src="{{ url_for('static', filename='gallery/' +'f6e9a3d5-a528-44d9-ba2c-19d2cfda2e82.jpg') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'4250d4a1-d4de-4806-a1a0-2e269978d072.jpg') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'66ca3635-9535-4d76-b30f-61cc51a33c63.jpg') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'cbbab6cc-6fac-4c8a-a71f-513356dd9c23.jpg') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'ce1bbc05-c23b-44cc-9278-aca6238f3116.jpg') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'d9592845-03e7-44a8-83be-cc723c4ac766.jpg') }}" alt="Gallery Image" width="700">
        </div>
    </div>

    <!-- Section 3 -->
    <h2 id="section3">Nature Gallery</h2>
    <a href="/" style="font-size: 28px; color: blue;"><strong>Go Back</strong></a>
    <div class="gallery">   
        <div class="gallery-row">     
        <img src="{{ url_for('static', filename='gallery/' +'21c94631-bf50-4ea3-afba-14b75f7c3960.png') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'72beb294-2661-4129-927f-7b07abc407f2.png') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'078a6ff4-1324-4581-871d-b377534a1a18.jpg') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'d9a3fd06-9508-4f64-b14d-b4e2bd5596b3.png') }}" alt="Gallery Image" width="700">
        <img src="{{ url_for('static', filename='gallery/' +'ed530efd-d1f2-4b48-8857-3394f57e34a6.png') }}" alt="Gallery Image" width="700">           
     </div>
    </div>
        <a href="/" style="font-size: 28px; color: blue;"><strong>Go Back</strong></a>

</body>
</html>

    

<div class="gallery">
    <div class="gallery-row">
        {% for image_data in shared_images %}
        {% if image_data['temp_filename'].endswith('.png') %}
            <p>UUID: {{ image_data['temp_filename'].split('.')[0] }}</p>
            <img src="{{ url_for('static', filename=image_data['temp_filename']) }}" alt="Shared Image" width="400">
        {% endif %}
    {% endfor %}

    {% if new_uuid %}
        <p>UUID: {{ new_uuid }}</p>
        <img src="{{ url_for('static', filename='gallery/' + new_uuid + '.png') }}" alt="New Shared Image" width="400" >
    {% endif %}
 </div>
        
        
    
